body{
  background-color: #424242;
}

/*for the navbar*/
nav{
  height: 90px;
  width: 100%;
  background-color: #212121;
}

nav div ul{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 75px;
}

nav div ul li{
  list-style-type: none;
}

nav div ul li a{
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #FAFAFA;
  font-size: 40px;
}

nav div ul li a:hover{
  text-decoration: none;
  color: #db3646;
  font-size: 40px;
}

nav div ul li img{
  margin-top: 10px;
  height: 75px;
}

/*for all h1*/
.container h1{
  margin-top: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  background-color: #db3646;
  border-radius: 10px;
}

/*for all h2*/
h2{
  font-family: "Poppins", sans-serif;
  color: #FAFAFA;
}

/*for all h3*/
h3{
  font-family: "Poppins", sans-serif;
  color: #424242;
}

/*for all paragraph*/
p{
  font-family: "Poppins", sans-serif;
  color: #424242;
}

/*for the home page*/
.bloc-pokemon{
  margin-top: 50px;
  text-align: center;
}

.bloc-pokemon img{
  height: 250px;
  width: 250px;
}

.bloc-pokemon .pokeball{
  height: 50px;
  width: 50px;
}

/*for the pokedex page*/
.container{
  margin-top: 20px;
}

.avatar{
  height: 200px;
  width: 200px;
}

.avatar-pixel{
  height: 100px;
  width: 100px;
}

.type{
  height: 22px;
  width: 105px;
}

.infospkm{
  background-color: #D9D9D9;
  border-radius: 10px;
  margin-left: 20px;
}

.background-avatar{
  background-color: #424242;
}

.pokedex-list{
  display: flex;
}