body{
  background-color: #424242;
}

nav{
  text-transform: uppercase; 
  position: sticky;
  top: 0;
  z-index: 9999;
}

nav .left{
  margin-left: 100px;
}

nav .right{
  margin-right: 100px;
}

h1{
  text-align: center;
  color: #FAFAFA;
  text-transform: uppercase;
}

h2{
  color: #FAFAFA;
}

.blocpkm img{
  height: 250px;
  width: 250px;
}

.blocpkm .pokeball{
  height: 50px;
  width: 50px;
}

.blocpkm{
  text-align: center;
}